body{
    margin: 0;
    font-family: 'ZCOOL KuaiLe', cursive;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    font-size: 35px;
    margin: 20px;
    text-decoration: none;
    color: #95a5a6;
    font-family: 'ZCOOL KuaiLe', cursive;
    transition: color 0.8s ease-out;
}

a:hover{
    color: #3498db;

}

i{
    margin-right: 10px;
}

@media screen and (max-width: 920px){
    nav{
        justify-content: space-around;
    }
    a{
        font-size: 25px;
    }
}

@media screen and (max-width: 600px){
    nav{
        flex-direction: column;
        align-items: center;
        background-color: darkblue
    }
    a{
        color: white;
    }
    a:hover{
        color: lightskyblue;
    }
}